.story-view-modal {
  text-align: center;
  font-size: 30px;
  background-color: white;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888888;
  width: 90%;
  height: fit-content;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}