
button.slick-arrow.slick-prev:before,
button.slick-arrow.slick-next:before {
  color: grey;
  padding: none;
}

.slick-slider {
  width: 400px;
  margin: 30px auto 50px;
}

.slick-dots {
  margin-left: 0;
}

.slick-slide img {
  display: block;
  height: 250px;
}

.carousel-container {
  padding: 20px;
  margin: auto; 
  width: 50%;
}

div.slick-slide.slick-active.slick-current.carousel-image-container {
  display: flex;
  justify-content: center;
}
