
.slick-prev:before,
.slick-next:before {
  color: gray;
  padding: none;
}

.slick-slider {
  width: 400px;
  margin: 30px auto 50px;
}

.slick-dots {
  margin-left: 0;
}

.slick-slide .image {
  padding: 10px;
  justify-content: center;

}