/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url(~slick-carousel/slick/slick.css);
@import url(~slick-carousel/slick/slick-theme.css);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.navbar {
  background-color: blue;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 50px; }
  .navbar span {
    padding-left: 25px;
    justify-self: center;
    align-self: center; }
  .navbar .logout {
    grid-column: 3;
    justify-self: center;
    align-self: center; }

.landing-picture {
  background-image: url("../Assets/landing.jpg");
  background-position: center;
  width: 929px;
  height: 578px;
  margin-top: 110px;
  margin-left: auto;
  margin-right: auto; }

.story {
  background-color: orange;
  padding: 10px;
  margin: 10px; }

.story-view-modal {
  text-align: center;
  font-size: 30px;
  background-color: white;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888888;
  width: 90%;
  height: fit-content;
  font-family: Verdana, Geneva, Tahoma, sans-serif; }

.transparent-background {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.6); }
  .transparent-background .mid-modal {
    height: 100%;
    width: 100%;
    display: grid;
    justify-items: center;
    position: absolute; }
    .transparent-background .mid-modal .modal-style {
      text-align: center;
      font-size: 30px;
      background-color: white;
      margin: 10% auto;
      padding: 20px;
      border: 1px solid #888888;
      width: 80%;
      height: fit-content;
      font-family: Verdana, Geneva, Tahoma, sans-serif; }
      .transparent-background .mid-modal .modal-style .fs-tutorial {
        height: 50%;
        width: 50%; }

.slick-prev:before,
.slick-next:before {
  color: gray;
  padding: none; }

.slick-slider {
  width: 400px;
  margin: 30px auto 50px; }

.slick-dots {
  margin-left: 0; }

.slick-slide img {
  border: 5px solid red;
  display: block;
  height: 250px; }

.carousel-container {
  padding: 20px;
  margin: auto;
  width: 50%;
  border: 3px solid orange; }
