/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Pacifico");
@import url(~slick-carousel/slick/slick.css);
@import url(~slick-carousel/slick/slick-theme.css);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.navbar {
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  height: 100px;
  margin: 0 auto; }
  .navbar .family-story {
    font-size: 48px;
    height: 66px;
    width: 437px;
    font-family: "Pacifico"; }
  .navbar .login-nav {
    font-family: "Open Sans";
    font-size: 36px;
    font-weight: lighter;
    text-decoration: none;
    color: black; }
  .navbar .logout-nav {
    font-family: "Open Sans";
    font-size: 36px;
    font-weight: lighter;
    text-decoration: none;
    color: black; }

.landing-container {
  height: 100%; }

.landing-picture {
  background-image: url("../Assets/landing.jpg");
  width: 50%;
  height: 60vh;
  margin-top: 45px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 45px;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .landing-picture .landing-mid {
    background-color: rgba(0, 0, 0, 0.25);
    height: 20vh;
    width: 35vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    .landing-picture .landing-mid .landing-welcome-1 {
      font-family: "Open Sans";
      font-style: bold;
      font-weight: bold;
      font-size: 2em;
      color: #EEEEEE;
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      margin-left: 10%; }
    .landing-picture .landing-mid .landing-welcome-2 {
      font-family: "Open Sans";
      font-style: bold;
      font-weight: bold;
      font-size: 2em;
      color: #EEEEEE;
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      margin-left: 5vw; }

.divider-1 {
  height: 2px;
  width: 88%;
  background-color: rgba(0, 0, 0, 0.13);
  border-radius: 5px;
  margin: auto; }

.divider-2 {
  height: 2px;
  width: 88%;
  background-color: rgba(0, 0, 0, 0.13);
  border-radius: 5px; }

.login-button {
  height: 90px;
  width: 20%;
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: 40%;
  border: none;
  border-radius: 5px;
  background: #85B807;
  font-size: 36px;
  font-weight: 200;
  cursor: pointer; }

.your-stories-search {
  display: flex;
  margin: auto;
  margin-top: 25px;
  width: 50%;
  justify-content: space-between; }
  .your-stories-search .your-stories {
    font-size: 36px;
    font-family: "Open Sans";
    width: 60%; }
  .your-stories-search .search-stories {
    font-size: 18px;
    font-family: "Open Sans";
    margin: 13px 0;
    padding-bottom: 2px; }
  .your-stories-search .search-stories-input {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: flex-end; }
  .your-stories-search .search-input {
    width: 150px;
    margin: 13px 0 13px 13px;
    border-radius: 10px;
    border: 1px solid lightgrey; }

.divider-3 {
  background-color: rgba(0, 0, 0, 0.3);
  height: 1px;
  width: 60%;
  margin: 0px auto; }

.story-container {
  display: flex;
  flex-direction: column;
  align-items: center; }

.your-tags {
  padding-left: 20px;
  color: black; }

.home-tags {
  color: black;
  padding-left: 8px; }

.home-edit {
  font-family: "Open Sans";
  height: 30px;
  width: 100px;
  background-color: #85B807;
  border: none;
  border-radius: 10px;
  font-size: 18px;
  line-height: 25px;
  cursor: pointer; }

.home-delete {
  font-family: "Open Sans";
  height: 30px;
  width: 100px;
  background-color: #BDBDBD;
  border: none;
  border-radius: 10px;
  font-size: 18px;
  line-height: 25px;
  cursor: pointer; }

.search-sorry {
  font-family: "Open Sans";
  font-size: 30px;
  margin-top: 20px;
  margin-left: 35%; }

.story {
  background-color: #DEDEDE;
  text-decoration: none;
  width: 50%;
  margin-top: 20px;
  border-radius: 10px;
  display: flex;
  height: 100px; }
  .story .home-title-tags-container {
    width: 80%; }
  .story .home-button-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    width: 20%;
    margin: 15px 20px; }
  .story .story-title {
    font-family: "Open Sans";
    padding-top: 10px;
    padding-left: 20px;
    font-weight: bold;
    font-size: 28px;
    color: black;
    cursor: pointer; }

.home-tags-container {
  margin: 10px 0; }

.handle-link {
  width: 50%;
  margin-bottom: 2%; }

.add-story-link {
  background-color: #DEDEDE;
  text-decoration: none;
  width: 100%;
  margin-top: 20px;
  border-radius: 10px;
  display: flex;
  height: 100px; }

.add-story-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%; }

.add-story {
  font-family: "Open Sans";
  font-size: 36px;
  line-height: 49px;
  padding: 10px;
  color: black;
  grid-column: 2; }

a {
  text-decoration: none; }

.story-view-container button:disabled {
  background-color: rgba(0, 0, 0, 0.13); }

.story-view-title {
  font-family: "Open Sans";
  font-size: 1.5em;
  padding: 1.5% 0;
  width: 100%;
  display: flex;
  justify-content: center; }

.eventViewer {
  display: flex; }
  .eventViewer .story-left {
    display: flex;
    width: 45%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2%;
    padding-left: 5%; }
    .eventViewer .story-left .location {
      margin: -5%; }
    .eventViewer .story-left .carousel {
      margin-top: 5%;
      margin-left: -27%; }
  .eventViewer .story-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: fit-content;
    margin: 2% 10%;
    width: 30%; }
    .eventViewer .story-right .event-title {
      font-family: "Open Sans";
      margin-bottom: 2%;
      font-size: 1.3em;
      text-align: center; }
    .eventViewer .story-right .event-date {
      font-family: "Open Sans";
      margin-bottom: 2%;
      text-align: center; }
    .eventViewer .story-right .event-desc {
      font-family: "Open Sans";
      text-align: center;
      word-spacing: 1px;
      line-height: 1.5; }

.story-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 2%;
  width: 100%; }
  .story-buttons .button:disabled {
    background: grey; }
  .story-buttons .story-button {
    background-color: #85B807;
    color: white;
    font-family: "Open Sans";
    border-radius: 5px;
    border: none;
    font-size: 24px;
    width: 70px;
    cursor: pointer; }
  .story-buttons .back-to-stories {
    display: flex;
    justify-content: flex-start;
    width: 60%; }
  .story-buttons .story-button-back {
    background-color: #85B807;
    color: white;
    font-family: "Open Sans";
    border-radius: 3px;
    border: none;
    font-size: 24px;
    width: 200px;
    cursor: pointer;
    margin-left: 75%;
    margin-top: 5%; }
  .story-buttons .prev-next {
    width: 40%;
    display: flex;
    justify-content: flex-end;
    margin-right: 10%; }
  .story-buttons .story-button-prev {
    color: white;
    background-color: #85B807;
    font-family: "Open Sans";
    border-radius: 3px;
    border: none;
    font-size: 24px;
    margin: 1% 1px;
    cursor: pointer; }

.MapBody {
  width: 40vw;
  height: 40vh;
  position: relative;
  margin-bottom: 7%; }
  .MapBody .location-container {
    display: flex;
    justify-content: center; }
  .MapBody .location-input {
    font-weight: 500;
    font-size: 13.3333px;
    height: 2em;
    background: rgba(0, 0, 0, 0.13);
    width: calc(50%-10px);
    border: none;
    padding: 0;
    padding-left: 10px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px; }
  .MapBody button {
    border: none;
    padding: 5px;
    margin-left: 2px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    color: white; }
  .MapBody .search-save-buttons {
    justify-content: end;
    margin-top: -1%; }
  .MapBody .search {
    height: 2em; }
  .MapBody .editor-event-input {
    font-weight: 500;
    font-size: .9em;
    height: 1em;
    background: rgba(0, 0, 0, 0.13);
    width: calc(50%-10px);
    border: none;
    padding: 0;
    padding-left: 10px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px; }
  .MapBody .map-container {
    margin-top: 10px; }

.transparent-background {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4); }
  .transparent-background button:disabled {
    background-color: rgba(0, 0, 0, 0.13);
    color: white;
    border: none;
    font-size: 24px; }
  .transparent-background .editor-container {
    height: fit content;
    width: 70%;
    display: flex;
    position: absolute;
    text-align: center;
    font-size: 30px;
    margin: 5% auto;
    background-color: white;
    padding: 20px;
    border: 1px solid #888888;
    font-family: "Open Sans"; }
    .transparent-background .editor-container .editor-left {
      width: 60%; }
    .transparent-background .editor-container .editor-right {
      width: 40%; }
    .transparent-background .editor-container .event-title-input {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-bottom: 1%; }
      .transparent-background .editor-container .event-title-input .editor-location {
        display: flex;
        flex-direction: column; }
    .transparent-background .editor-container .editor-event-title {
      font-size: .9em; }
    .transparent-background .editor-container .editor-event-input {
      border-radius: 3px;
      border: 1px solid lightgrey;
      width: 50%;
      height: 60%;
      margin: 3% 0;
      background: rgba(0, 0, 0, 0.13);
      padding-left: 10%; }
    .transparent-background .editor-container .editor-pics {
      height: 50px; }
    .transparent-background .editor-container .delete-button {
      display: flex;
      justify-content: flex-start;
      border: none; }
    .transparent-background .editor-container .delete {
      border: none;
      background-color: #85B807;
      color: white;
      border: none;
      font-size: 24px;
      cursor: pointer; }
    .transparent-background .editor-container .event-desc-input {
      border: none;
      border-radius: 3px;
      background: rgba(0, 0, 0, 0.13);
      height: 91%;
      margin-top: 1%;
      width: 90%;
      font-family: "Open Sans"; }
    .transparent-background .editor-container .right-buttons {
      display: flex;
      justify-content: flex-end;
      margin: 0 5%;
      margin-top: 1%; }
      .transparent-background .editor-container .right-buttons .cancel {
        margin-right: 1px;
        border: none;
        color: white;
        font-size: 24px;
        font-family: "Open Sans";
        background-color: #85B807;
        cursor: pointer; }

button.slick-arrow.slick-prev:before,
button.slick-arrow.slick-next:before {
  color: grey;
  padding: none; }

.slick-slider {
  width: 400px;
  margin: 30px auto 50px; }

.slick-dots {
  margin-left: 0; }

.slick-slide img {
  display: block;
  height: 250px; }

.carousel-container {
  padding: 20px;
  margin: auto;
  width: 50%; }

div.slick-slide.slick-active.slick-current.carousel-image-container {
  display: flex;
  justify-content: center; }
