@import url('https://fonts.googleapis.com/css?family=Pacifico');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

$font-family1: 'Open Sans';
$font-family2: 'Pacifico';
$divider-background-color: rgba(0,0,0,0.13);
$divider-width: 88%;

.navbar {
  background-color: transparent;
  display:flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  height: 100px;
  margin: 0 auto;

    .family-story {
      font-size: 48px;
      height: 66px;
      width: 437px;
      font-family: $font-family2;

    }

    .login-nav {
      font-family: $font-family1;
      font-size: 36px;
      font-weight: lighter;
      // margin-top: 35px;
      text-decoration: none;
      color: black;
    }

    .logout-nav {
      font-family: $font-family1;
      font-size: 36px;
      font-weight: lighter;
      // margin-top: 35px;
      text-decoration: none;
      color: black;
    }
}

