@import url('https://fonts.googleapis.com/css?family=Pacifico');

$font-family2: 'Pacifico';
$font-family1: 'Open Sans';

.navbar {
  background-color: transparent;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 50px;
  width: 984px;
  height: 100px;
  margin-left: auto;
  margin-right: auto;

    .family-story {
      padding-left: 25px;
      font-size: 48px;
      height: 66px;
      width: 437px;
      padding-top: 20px;
      font-family: $font-family2;

    }

    .logout-nav {
      grid-column: 3;
      font-family: $font-family1;
      font-size: 36px;
      font-weight: lighter;
      padding-top: 35px;
      padding-right: 20px;
      
    }
}

