$heading-space: 15px 0 7px 0;
$family-green: #85B807;
$family-blue: #74BFFF;


.story-editor-container {
  font-family: $font-family1;
  margin: 2% 15%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  .story-title-block {
    grid-column: 1;
    h3 {
      margin: $heading-space;
    }
    input:focus{
      border: 1px solid $family-blue;
    }
    input {
      font-weight: 500;
      height: 2.5em;
      width: calc(80% - 10px);
      background: $divider-background-color;
      border: none;
      border-radius: 3px;
      padding: 0 10px 0 10px;
    }
  }
  .tags-block {
    grid-column: 1;
    h3 {
      margin: $heading-space;
    }
    input {
      font-weight: 500;
      font-size: 18px;
      height: 2.5em;
      width: calc(65% - 10px);
      background: $divider-background-color;
      border: none;
      padding: 0 10px 0 10px;
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
    }
    button {
      color: white;
      font-weight: 550;
      font-size: 1em;
      height: 2.5em;
      width: calc(15% - 1px);
      border: none;
      padding: 2.5px;
      margin-left: 2px;
      background: $family-blue;
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
      cursor: pointer;
    }
    div {
      p {
        padding: 5px;
        cursor: pointer;
      }
      display: flex;
      flex-wrap: wrap;
      font-weight: 550;
      font-size: 1em;
      padding: 10px;
      min-height: 3.5em;
      width: calc(80% - 20px);
      background: $divider-background-color;
      border: none;
      border-radius: 3px;
    }
  }
  .events-block {    // display: grid;
    font-weight: 500;
    font-size: .9em;
    grid-column: 1;
    h3 {
      margin: $heading-space;
    }
    .add-event-button {
      width: calc(65% + 10px);
      color: white;
      background: #CCCCCC;
      border: none;
      border-radius: 3px;
      font-weight: 550;
      font-size: 1em;
      height: 2.5em;
      padding: 0;
    }
    .event {
      button {
        position: relative;
        top: 11px;
        transform: rotate(90deg);
        color: white;
        font-weight: 550;
        width: 2.5em;
        height: 2em;
        padding: 0 3px;
        margin-bottom: 1px;
        background: $family-blue;
        border: none;
      }
      h3 {
        display: inline-block;
        font-weight: 500;
        font-size: 1em;
        height: 2.5em;
        width: 65%;
        background: $divider-background-color;
        border: none;
        padding: 0;
        padding-left: 10px;
        margin: 1em 0;
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
      }
    }
  }
  .instructional-1 {
    grid-column: 2;
    grid-row: 2;
  }
  .instruction-2 {
    grid-column: 2;
    grid-row: 3;
  }
  .save-cancel-bottom-right {
    grid-column: 2;
  }
}