$heading-space: 15px 0 7px 10px;
$family-green: #96B841;
$family-dark-green: #557504;
$family-blue: #467399;
$family-pale-blue: #9AB5CC;
.story-editor-container {
  font-family: $font-family1;
  margin: 2% 15%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  h3 {
    margin: $heading-space;
  }
  input:focus {
    outline-color: $family-blue;
  }
  input {
    font-size: 1em;
    padding: 0 10px 0 10px;
    height: 2.5em;
    border: none;
    background: $divider-background-color;
  }
  button {
    color: white;
    font-weight: 550;
    cursor: pointer;
    background: $family-dark-green;
    border: none;
    font-size: 1em;
    height: 2.5em;
  }
  .story-title-block {
    grid-column: 1;
    margin-left: 10%;
    input {
      width: calc(85% - 10px);
      border-radius: 3px;
    }
  }
  .tags-block {
    grid-column: 1;
    margin-left: 10%;
    input {
      width: calc(70% - 10px);
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
    }
    button {
      height: 2.5em;
      width: calc(15% - 2px);
      padding: 2.5px;
      margin-left: 2px;
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
    }
    div {
      p {
        padding: 5px;
        cursor: pointer;
      }
      display: flex;
      flex-wrap: wrap;
      padding: 10px;
      min-height: 3.5em;
      width: calc(85% - 10px);
      background: $divider-background-color;
      border: none;
      border-radius: 3px;
    }
  }
  .events-block {
    font-weight: 500;
    font-size: .9em;
    grid-column: 1;
    margin-left: 10%;
    h3 {
      margin: $heading-space;
    }
    .add-event-button {
      margin-top: 1em;
      width: calc(85% + 10px);
      background: $family-green;
      border: none;
      border-radius: 3px;
    }
    .event {
      display: flex;
      align-items: center;
      margin: 1em 0;
      button {
        color: white;
        width: 2.5em;
        height: 2.5em;
        margin-left: 2px;
      }
      .down-arrow-button {
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
      }
      .up-arrow-button-1 {
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
      }
      div {
        display: flex;
        align-items: center;
        height: 2.5em;
        width: calc(85% - 5em - 14px);
        background: $divider-background-color;
        padding: 0 10px 0 10px;
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
        cursor: pointer;
        h3 {
          margin: 0;
          cursor: pointer;
        }
      }
    }
  }
  .right-side {
    grid-column: 2;
    grid-row-start: 2;
    grid-row-end: span 2;
    margin-right: 10%;
    margin-left: 10%;
    h2 {
      margin: 0 0 4% 0;
    }
    .instructional-1 {
      margin-bottom: 5em;
      grid-row: 2;
    }
    .instructional-2 {
      margin-bottom: 8em;
      grid-row: 2;
    }
    grid-column: 2;
    .save-button {
      justify-self: end;
      width: 40%;
      border-radius: 3px;
      margin: 0 auto 0 2px;
      background: $family-green;
    }
    .cancel-button {
      justify-self: end;
      margin-left: 12%;
      width: 40%;
      border-radius: 3px;
    }
  }
}