.your-stories-search {
  display: grid;
  grid-template-columns: 2fr 2fr;
  grid-template-rows: 50px;
  margin-top: 50px;

  .your-stories {
    font-size: 36px;
    font-family: $font-family1;
    padding-left: 52%;
  }

  .search-stories {
    font-size: 18px;
    font-family: $font-family1;
    padding-left: 13%;
  }

  .search-input {
    width: 150px;
    margin: 13px;
    border-radius: 10px;
    border: 1px solid lightgrey;
  }
}

.divider-3 {
  background-color: rgba(0, 0, 0, 0.3);
  height: 1px;
  width: 60%;
  margin: 0px auto;
}

.home-tags {
  color: black;
  padding-left: 20px;
}

.home-edit {
  font-family: $font-family1;
  height: 39px;
  width: 123px;
  background-color: #85B807;
  border: none;
  border-radius: 10px;
  font-size: 18px;
  line-height: 25px;
  cursor: pointer;
}

.home-delete {
  font-family: $font-family1;
  height: 39px;
  width: 123px;
  background-color: #BDBDBD;
  border: none;
  border-radius: 10px;
  font-size: 18px;
  line-height: 25px;
  cursor: pointer;
}

.search-sorry {
  font-family: $font-family1;
  font-size: 30px;
  margin-top: 20px;
  margin-left: 35%;

}

.story {
  background-color: #DEDEDE;
  text-decoration: none;
  width: 50%;
  margin-top: 20px;
  margin-left: 26%;
  border-radius: 10px;

  .story-title {
    font-family: $font-family1;
    padding-top: 10px;
    padding-left: 20px;
    font-weight: bold;
    font-size: 28px;
    color: black;
  }

}